.star {
  transform: translateY(-2px);
}

.this__button {
  height: 30px;
}
.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  transform: translateY(1px);
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: dodgerblue;
}
.pink {
  background-color: palevioletred;
}
